body{
    background: rgb(0, rgb(0, 81, 0), blue)
}
header{
color:rgb(5, 18, 5)
boder-bottom : solid 3px black;
margin :15xp
}

.subtitulo{
 font-size: xx-large;
 color: rgb(red, green, blue)
 margin: 15xp:
}
























